.chessboard { 
  width: 100%;
  border-spacing: 0; 
  border-collapse: collapse; 
}
.chessboard td {
  /* width: 12vw; */
  height: 12vw;
}
.chessboard .light {
  text-align: center;
  background: #abdbe3;
}
.chessboard .dark {
  text-align: center;
  background: #eeeee4;
}
.chessboard-wrapper {
  width: 90%;
}
.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-height: 900px){
  .chessboard-wrapper {
    height: 90vh;
    width: 100%;
  }
  .sidebar {
    top: calc(100vh - 100px);
    width: 100%;
    
  }
}