.container-wrapper {
  display: flex;
  flex-direction: row;
}

.chessboard-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 90vh;
  max-height: 90vw;
}

.chessboard-col {
  width: 100%;
}

.chessboard-col>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 11.25%;
  aspect-ratio: 1 / 1;
}

.light {
  text-align: center;
  background: #abdbe3;
}

.dark {
  text-align: center;
  background: #eeeee4;
}

.selected {
  text-align: center;
  background: orange;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10vw;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-height: 1920px) and (max-width: 1080px) {
  .container-wrapper {
    flex-direction: column;
  }

  .chessboard-wrapper {
    margin-bottom: 10px;
    max-width: 100vh;
    max-height: 100vw;
  }

  .sidebar {
    width: 90%;
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  .sidebar>div {
    margin: 5px;
  }
}
